.DS_Store
JavaScript/Streams/file.txt
JavaScript/node_modules/
**/.venv/
**.cpython-312.pyc
*.aux
*.out
*.log

# publishing tool
.env
publish/.env
publish/.instagram_session.json
Instagram/**/build/
__pycache__/
*.pyc
